certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
decorator==5.0.9
glcontext==2.3.4
idna==2.10
manim==0.7.0
ManimPango==0.3.0
mapbox-earcut==0.12.10
moderngl==5.6.4
moderngl-window==2.3.0
multipledispatch==0.6.0
networkx==2.5
numpy==1.20.3
Pillow==8.2.0
pycairo==1.20.0
pydub==0.25.1
pyglet==1.5.17
Pygments==2.9.0
pyrr==0.10.3
requests==2.25.1
rich==10.2.2
scipy==1.6.3
six==1.16.0
tqdm==4.61.0
urllib3==1.26.5
watchdog==2.1.2
